flask
dotenv
pandas
langchain
SpeechRecognition
pyaudio
flask_cors
sentence-transformers
google-auth-oauthlib
langchain_google_vertexai
google-api-python-client
chromadb
langchain_google_genai
langchain_community
langchain_chroma
jira
psycopg2
langchain_groq
langgraph
langgraph-checkpoint-sqlite==2.0.10
langsmith
"langgraph-cli[inmem]"
requests