flask
dotenv
langchain
SpeechRecognition
pyaudio
flask_cors
sentence-transformers
google-auth-oauthlib
langchain_google_vertexai
google-api-python-client
chromadb
langchain_google_genai
langchain_community
langchain_chroma
jira
psycopg2